/* contact page */
#contact-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 0px;
    gap: 48px;
    /* position: absolute; */
    width: 375px;
    height: 884px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    }
    
    .contact__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    width: 375px;
    height: 116px;
    flex: none;
    order: 0;
    align-self: stretch; 
    flex-grow: 0;
    }
    
    .contact__head{
    width: 343px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    
    .head__description{
    width: 343px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #475467;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }
    
    .contact__body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 48px;
    width: 375px;
    height: 592px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }
    
    #form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 343px;
    height: 592px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    
    .form__fields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 343px;
    height: 512px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    
    .form__control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 343px;
    height: 70px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    
    label{
    width: 71px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    
    input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 343px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }